<form action="/createData">
    name = <input type="text" name="name" value="<%= editData ? editData.name : '' %> "> <br><br>
    age = <input type="number" name="age" value="<%= editData ? editData.age  : '' %>">
    <br><br>
    <button type="submit">Submit</button>
</form>

<table border="1">
    <tr>
        <td>Name</td>
        <td>Age</td>
        <td>DELETE</td>
        <td>UPDATE</td>
    </tr>
    <% user.map((i , index)=> {
        %>
        <tr>
            <td>
                <%= i.name %>
            </td>
            <td>
                <%= i.age %>
            </td>
            <td>
                <button>
                    <a href="/deleteData/<%= i._id %>">DELETE</a>
                </button>
            </td>
            <td>
                <button>
                    <a href="/editData/<%= i._id %> %>">UPDATE</a>
                </button>
            </td>
        </tr>
        <% }) %>
</table>